@page
@model CursosCRUDRazor.Pages.ListaCursos.IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Lista de Cursos</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Crear nuevo curso</a>
    </div>
</div>